streamlit
gspread
oauth2client
pandas
numpy
plotly
streamlit_option_menu
streamlit_navigation_bar
streamlit_cookies_manager
matplotlib
requests_oauthlib
Authlib>=1.3.2
firebase_admin
httpx-oauth
streamlit-authenticator